@model WebAdministrator.Models.Contrato

@{
    ViewData["Title"] = Model == null ? "Cadastrar" : "Atualizar";


    if (Convert.ToInt32(ViewData["retorno"]) > 0)
    {
        <script>
            M.toast({ html: '<i class="material-icons white-text">check_circle</i>&nbsp;Contrato @(Convert.ToInt32(ViewData["retorno"]) == 1 ? "cadastrado" : "atualizado") com sucesso!', classes: 'blue darken-2 rounded' });
        </script>
    }
}

<h4>@(Model == null ? "Cadastro" : "Edição") de Contrato</h4>
<br />
<div class="row">
    <div class="col s12">
        <form asp-action='@(Model == null ? "Create" : "Edit")'>
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <input asp-for="Cd_Contrato" type="hidden" />

            <div class="input-field">
                <i class="material-icons prefix">insert_drive_file</i>
                <input asp-for="Ds_Contrato" autocomplete="off" class="autocomplete" />
                <label asp-for="Ds_Contrato"></label>
                <span asp-validation-for="Ds_Contrato" class="red-text"></span>
            </div>
            <div class="switch">
                Status: &nbsp;
                <label>
                    Inativo
                    <input type="checkbox" asp-for="Status" name="Status" id="Status">
                    <span class="lever"></span>
                    Ativo
                </label>
            </div>
            <br />

            <div class="input-field">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons left">save</i>
                    @(Model == null ? "Adicionar" :"Atualizar") Contrato
                </button>
                <button class="btn waves-effect waves-light" type="button" id="clearFrm" style="display:@(Model != null ? "none" : "");">
                    <i class="material-icons left">clear</i>
                    Limpar
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementsByName('Status')[0].checked = Boolean(@(Model == null ? 1 : Convert.ToInt32(Model.Status)));
</script>
