@model WebAdministrator.Models.Empresa

@{
    ViewData["Title"] = Model == null ? "Cadastrar" : "Atualizar";


    if (Convert.ToInt32(ViewData["retorno"]) > 0)
    {
        <script>
            M.toast({ html: '<i class="material-icons white-text">check_circle</i>&nbsp;Empresa @(Convert.ToInt32(ViewData["retorno"]) == 1 ? "cadastrada": "atualizada") com sucesso!', classes: 'blue darken-2 rounded' });
        </script>
    }
}
<h4>@(Model == null ? "Cadastro" : "Edição") de Empresa</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action='@(Model == null ? "Create" : "Edit")' id="frmForm">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <input asp-for="Cd_Empresa" type="hidden" />
            <input asp-for="Cd_UsuarioCriacao" type="hidden" />
            <div class="input-field">
                <i class="material-icons prefix">location_city</i>
                <input asp-for="No_Empresa" autocomplete="off" class="autocomplete" />
                <label asp-for="No_Empresa"></label>
                <span asp-validation-for="No_Empresa" class="red-text"></span>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">code</i>
                <input asp-for="Nu_Cnpj" id="Cnpj" />
                <label asp-for="Nu_Cnpj"></label>
                <span asp-validation-for="Nu_Cnpj" class="red-text"></span>
            </div>
            <br />
            <div class="switch">
                Status: &nbsp;
                <label>
                    Inativo
                    <input type="checkbox" asp-for="Status" name="Status" id="Status">
                    <span class="lever"></span>
                    Ativo
                </label>
            </div>
            <br />
            <div class="input-field">
                <button class="btn waves-effect waves-light" type="submit" name="action" id="btnSendEmpresa">
                    <i class="material-icons left">save</i>
                    @(Model == null ? "Adicionar" :"Atualizar") Empresa
                </button>
                <button class="btn waves-effect waves-light" type="button" id="clearFrm" style="display:@(Model != null ? "none" : "");">
                    <i class="material-icons left">clear</i>
                    Limpar
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementsByName('Status')[0].checked = Boolean(@(Model == null ? 1 : Convert.ToInt32(Model.Status)));
</script>