@model WebAdministrator.Models.CalendarioAjustavel

@{

    ViewData["Title"] = Model == null ? "Cadastrar" : "Atualizar";

    if (Convert.ToInt32(ViewData["retorno"]) > 0)
    {
        <script>
            M.toast({ html: '<i class="material-icons white-text">check_circle</i>&nbsp;Data @(Convert.ToInt32(ViewData["retorno"]) == 1 ? "cadastrada": "atualizada") com sucesso!', classes: 'blue darken-2 rounded' });
        </script>
    }
}

<h4>@(Model == null ? "Cadastro" : "Edição") de Datas</h4>
<br />
<form asp-action='@(Model == null ? "Create" : "Edit")'>
    <div asp-validation-summary="ModelOnly" class="red-text"></div>
    <input asp-for="Cd_Calendario" type="hidden" />
    <input asp-for="Cd_Usuario_Criacao" type="hidden" />
    <div class="row">

        <div class="input-field col s2">
            <i class="material-icons prefix">date_range</i>
            <input asp-for="Dt_Nacional" class="datepicker" autocomplete="off" />
            <label asp-for="Dt_Nacional"></label>
            <span asp-validation-for="Dt_Nacional" class="red-text"></span>
        </div>

        <div class="input-field col s3">
            <i class="material-icons prefix">room</i>
            <select asp-for="Sg_Uf" id="Sigla" asp-items="@WebAdministrator.Util.Utility.GetSigla()">
                <option value="NN">Nacional</option>
            </select>
            <label asp-for="Sg_Uf"></label>
            <span asp-validation-for="Sg_Uf" class="red-text"></span>
        </div>
        <div class="input-field col s7">
            <i class="material-icons prefix">edit</i>
            <input asp-for="Ds_Titulo_Data" />
            <label asp-for="Ds_Titulo_Data"></label>
            <span asp-validation-for="Ds_Titulo_Data" class="red-text"></span>
            <span class="new badge" id="titleFeriado" style="display:none;" data-badge-caption=""></span>
        </div>
    </div>
    <div class="row">
        <div class="switch col s12">
            Status: &nbsp;
            <label>
                Inativo
                <input type="checkbox" asp-for="Status" name="Status" id="Status">
                <span class="lever"></span>
                Ativo
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                <i class="material-icons left">save</i>
                @(Model == null ? "Adicionar" :"Atualizar") Data
            </button>
            <button class="btn waves-effect waves-light" type="button" id="clearFrmCalendar" style="display:@(Model != null ? "none" : "");">
                <i class="material-icons left">clear</i>
                Limpar
            </button>
        </div>
    </div>
</form>
<script>
    document.getElementsByName('Status')[0].checked = Boolean(@(Model == null ? 1 : Convert.ToInt32(Model.Status)));

    $(document).ready(function () {

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            disableWeekends: false,
            autoClose: true,
            i18n: {
                months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
                weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                today: 'Hoje',
                clear: 'Limpar',
                cancel: 'Sair',
                done: 'Confirmar',
                labelMonthNext: 'Próximo mês',
                labelMonthPrev: 'Mês anterior',
                labelMonthSelect: 'Selecione um mês',
                labelYearSelect: 'Selecione um ano',
                selectMonths: true,
                selectYears: 15,
            },
            onSelect: function (event) {
                let dataSelected = new Date(event);
                $.getJSON("../js/feriadosNacional.json", function (data) {

                    var listItems = data.filter(s => s.data == dataSelected.getFullYear().toString());
                    if (listItems.length > 0) {
                        let detalhes = listItems[0].itens.filter(s => s.date == dataSelected.toJSON().substring(0, 10));

                        if (detalhes.length > 0) {
                            var html = '<ul>';
                            html += '<li><i class="Tiny material-icons white-text">chevron_right</i >&nbsp;Feriado: ' + detalhes[0].name + '</li>'
                            html += '<li><i class="Tiny material-icons white-text">chevron_right</i >&nbsp;Tipo: ' + detalhes[0].type + '</li>'
                            html += '<li><i class="Tiny material-icons white-text">chevron_right</i >&nbsp;Nivel: ' + detalhes[0].level + '</li>'
                            html += '</ul>';

                            M.toast({ html: html, classes: 'blue darken-3 rounded' });
                            $('#titleFeriado').empty().html('FERIADO: ' + detalhes[0].name);
                            $('#Ds_Titulo_Data').val(detalhes[0].name);
                            $('#titleFeriado').show();
                            $('#Ds_Titulo_Data').focus();
                        }
                        else {
                            $('#Ds_Titulo_Data').val(null);
                            $('#titleFeriado').hide();
                            $('#Ds_Titulo_Data').focus();
                        }
                    }
                })
            }
        });

        $('#clearFrmCalendar').click(() => {
            $('form').trigger("reset");
            $("#Status").prop("checked", true);
            $('#titleFeriado').hide();
        });
    });
</script>

